/**
 * Copyright ® 2008-2012, Ubiquitous Dreams SARL - SIREN 508 175 437 RCS La Rochelle.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0

 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

._keyboard-row {
    display: block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}
._keyboard-key {
    background: #686a72; /* Old browsers */
    background: -moz-linear-gradient(top, #686a72 0%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686a72), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #686a72 0%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #686a72 0%,#28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #686a72 0%,#28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #686a72 0%,#28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686a72', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
    border: 1px solid white;
    display: inline-block;
    margin: 5px 2px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: Arial, Verdana, Serif;
    padding: 5px;
    vertical-align: top;
}