/**
 * Copyright ® 2008-2012, Ubiquitous Dreams SARL - SIREN 508 175 437 RCS La Rochelle.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0

 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.1em;

    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

#body-wrap
{
    width: 700px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f5f5f5;

    border-radius: 15px;
    -webkit-border-radius: 15px;

    -webkit-box-shadow:  0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

#title {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #a90329;
}

table
{
    margin: auto;
    width: 100%;
}

td
{
    text-align: center;
}
/* ------------------------ Hangman ------------------------ */
#hangman {
    border-bottom: 1px solid silver;
    margin-bottom: 50px;
}

hangman-drawing img {
    width: 100%;
}

#word-to-find {
    margin: 20px 0;
    display: inline-block;
}

#word-to-find span {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 2px;
    width: 35px;
    height: 40px;
    padding: 5px;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Verdana, Serif;
}

#hangman-attempts span {
    background-color: white;
    border: 1px solid red;
    display: inline-block;
    margin: 5px 2px;
    height: 16px;
    width: 12px;
    color: red;
    padding: 15px 5px 0 5px;
}

#wrong-letters {
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
    width: 50%;
    min-height: 18px;
    display: inline-block;
    background-color: white;
}